@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Major+Mono+Display&display=swap');

.App{
  margin: 40px;
  font-size: 18px;
  overflow: hidden;
  font-family: 'Cutive Mono', monospace;
}
header{
  font-family: 'Major Mono Display', monospace;
  display: flex;
  justify-content: space-between;
  color: black;
  font-size: 30px;
  margin-bottom: 30px;
}

ul{
  list-style-type: none;
  display: flex;
}
a{
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin: 0 10px;
}
.accounts{
  display: flex;
  text-align: center;
  margin: 30% 5% 5% 0%;
}
.btn{
  cursor: pointer;
  margin:  10px 2% 0% 2%;
  font-family: 'Cutive Mono', monospace;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 13px 8px;
  transition: color .3s;
  border: 2px solid black;
  
}
.btn:hover{
  color: rgb(255, 255, 255);
  background-color: pink;
}
.container{
  display: flex;
  justify-content: space-between;
  margin: 5% 1%;
  padding: 3%;
  height: 65vh;
  background: #FFFFFF;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
}
article{
  padding: 20px;
}
h1{
  font-size: 36px;
}
h2{
  font-size: 18px;
  margin-bottom: 50px;
}
h3{
  font-size: 15pt;
}
p{
  font-size: 14pt;
}
img{
  margin: 60px 30px;
}

input{
  font-family: 'Cutive Mono', monospace;
  font-size: large;
  border: 0px;
  border-bottom: 2px black solid;
  display: block;
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;

}
input:focus, input:valid{
  outline: 0;
}
input:focus::placeholder {
  color: transparent;
}
.form-name{
  display: flex;
  justify-content: space-evenly;
}
.form{
  margin: 0% 5%;
  padding: 3%;
  height: 55vh;
  background: #FFFFFF;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
}
.form .btn {
  display: block;
  margin-top: 10%;
  margin-right: auto;
  margin-left: auto;
}
.todoTitle{
  display: flex;
  margin-right: 600px;
}
.title-delete{
  cursor: pointer;
}