@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Major+Mono+Display&display=swap');

.App{
  margin: 40px;
  font-size: 18px;

  font-family: 'Cutive Mono', monospace;
}
header{
  font-family: 'Major Mono Display', monospace;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-size: 30px;
  margin-top: -20px;
  margin-bottom: 20px;
  margin-right: 40px;
}
.heading{
  font-size: 35px
}

 header ul{
  list-style-type: none;
  display: flex;
}
a{
  font-size: 20px;
  text-decoration: none;
  color: black;
  margin: 0 15px;
}
header .btn{
  border-radius: 15px;
  padding: 10px;
  border: 1px solid black;
  margin-top: 0px;
}
.accounts{
  display: flex;
  text-align: center;
  margin: 20% 5% 5% 0%;
}

.btn{
  cursor: pointer;
  margin:  10px 2% 0% 2%;
  font-family: 'Cutive Mono', monospace;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 13px 8px;
  transition: color .3s;
  border: 2px solid black;
  
}
.btn:hover{
  color: rgb(255, 255, 255);
  background-color: pink;
}
.container{
  display: flex;
  justify-content: space-between;
  margin: 1% 1% 1%;
  padding: 3%;
  height: 650px;
  background: #FFFFFF;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}
article{
  display: flex;
  justify-content: space-between;
  margin-right: -30px;
}
article img {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
}
h1{
  font-size: 36px;
}
h2{
  font-size: 18px;
  margin-bottom: 50px;
}
h3{
  font-size: 15pt;
}
p{
  font-size: 14pt;
}
img{
  margin: 60px 30px;
}
.todoContainer input{
  margin-left: 45%;
}
.input-with-button {
  position: relative;
}
.list-input-with-button {
  position: relative;
}
.input-with-button button {
  position: absolute;
  right: -280px;
  top : -10px;
  padding: 0;
  border: none;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
}
.list-input-with-button button {
  position: absolute;
  left: 320px;
  top : 0px;
  padding: 0;
  border: none;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  width: 30px;
}
.task-input-area .listContainer button{
  left: 425px;
}
.list-input-with-button button:hover{
  color: rgb(255, 255, 255);
  background-color: pink;
}
input{
  font-family: 'Cutive Mono', monospace;
  font-size: large;
  border: 0px;
  border-bottom: 2px black solid;
  display: block;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;

}
input:focus, input:valid{
  outline: 0;
}
input:focus::placeholder {
  color: transparent;
}
.form-name{
  display: flex;
  justify-content: space-evenly;
}
.form{
  margin: 0% 5%;
  padding: 2% 3%;
  height: 710px;
  background: #FFFFFF;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.25);
}
.form h1, .form p {
  font-family: 'Cutive Mono', monospace;
}
.form .btn {
  display: block;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}
.todoTitle{
  display: flex;
  margin-right: 600px;
}
.title-delete{
  cursor: pointer;
}

.list-page-body{
  display: flex;
}
.sidebar{
  width: 400px;
  height: 80vh;
}
.sortButtons{
  padding: 30px;
}
.sortButtons button{
  display: block;
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
  width: 300px;
  margin-left: 18px;
  font-size: 18px;
  font-family: inherit;
  text-align: left;
  padding: 10px;
  background-color: #D9D9D9;
}
.list-section{
  height: 75%;
  border-right: 1px solid black;
}
.list-section p{
  font-size: 24px;
  margin-bottom: -20px;
}
.listContainer input{
  width: 300px;
}
.listContainer button{
  right: 45px;
}
.task-item{
  margin-left: 40%;
  margin-right: -800px;
  display: flex;
}
.list-item{
  width: 565px;
}
.task-area, .list-area{
  background-color: #D9D9D9;
  border-radius: 10px;
  margin: 10px;
  text-align: center;
  list-style-type: none;
  display: inline-block;
  width: 50%;
}
ul{
  list-style-type: none;
}

.list-top-section button, .menu-button, .hover-button{
  padding: 1px;
  border: none;
  background-color: #D9D9D9;
  margin-right: -5px;
}

 .list-section-area label{
  font-size: 18px;
  margin-top: 3px;
}

 .list-section-area {
  display: flex;
  justify-content: space-between;
  margin-left: 25px;
  margin-right: 30px;
  align-items: center;
  
}
.hover-button{
  margin-bottom: 10px;
  margin-top: 11px;
  margin-right: -10px;
  background-color: white;
}
.drop-down-button{
  font-size: 20px;
  padding: 0;
  margin-right: -10px;
  border: none;
}

.task-area{
  display: flex;
  justify-content: space-around;
  padding: 5px 0;
}
.task-left-section label{
  display: block;
  text-align: left;
  margin-left: 20px;
}
.task-right-section{
  margin-left: auto;
  display: flex;
  align-items: center;
}
.priority{
  padding: 0px ;
  border: none;
  background-color: #D9D9D9;
  margin-top: 3px;
  font-size: large;
  color: rgb(250, 75, 0);
}
